html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width initial-scale=1")
    //- BOOTSTRAP STYLES
    link(href='public/stylesheets/temp/bootstrap.css',      rel='stylesheet')
    //- FONTAWESOME STYLES
    link(href='public/stylesheets/temp/font-awesome.css',   rel='stylesheet')
    //- TEMPLATE BASIC STYLES
    link(href='public/stylesheets/temp/basic.css',          rel='stylesheet')
    //- TEMPLATE MAIN STYLES
    link(href='public/stylesheets/temp/custom.css',         rel='stylesheet')
    //- TEMPLATE FORM SCRIPTS
    script(src='public/javascripts/temp/switchery.min.js')
    //- TEMPLATE FORM STYLEs
    link(href='public/stylesheets/temp/form-style.css',     rel='stylesheet')
    link(href='public/stylesheets/temp/switchery.min.css',  rel='stylesheet')
    link(href='public/stylesheets/temp/modal-form.css',     rel='stylesheet')
    //- GOOGLE FONTS
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    //- TEMPLATE SNACKBAR STYLES
    link(href='public/stylesheets/temp/snackbar.css',     rel='stylesheet')
    //- TEMPLATE TABLE STYLES
    link(href='public/stylesheets/temp/table-style.css',     rel='stylesheet')
    //- CUSTOM style
    link(href="public/stylesheets/style.css" rel='stylesheet')
  body
    
    //- #recharge_snackbar
    //-   | 성공적으로 등록되었습니다.
    //- SIDE NAVIGATION
    //- #mySidenav.sidenav
    //-   a.closebtn(href="javascript:void(0)" onclick="closeNav()") &times;
    //-   a#stock-manager.side-nav-menu 장부 관리
      
    //- MODAL REGISTER FORM
    #register-form.modal
      form.modal-content.animate(action='/register' method='post')
        .col-3
          label
            | 이름
            input#name(placeholder='이름을 입력해주세요.', name='membername', required='required')
        .col-3
          label
            | 비밀번호
            input#company(placeholder='6자리 숫자를 입력해주세요.', type='password', name='password', size='6', maxlength='6', required='required')
        .col-3
          label
            | 휴대폰번호
            input#phone(placeholder="'-'는 빼고 입력해주세요.", name='phonenum', type='text', required='required')
        .col-submit
          button.submitbtn#registerSubmit Submit Form
        //-THERE'S HIDDEN FORM TO SEND TOKENS
        input(type='hidden' name='accessToken')
        input(type='hidden' name='refreshToken')
        //- MODAL REGISTER FORM
    #recharge-form.modal
      form.modal-content.animate(action='/charge' method='post')
        .col-3
          label 회원을 선택해주세요.
            | 
            select#choose-member
            //- javascript dynamically insert members
        .col-3
          label
            | 요금제
            select#choose-payment
            //- javascript dynamically insert payments
        .col-3
          label
            | 충전하실 금액을 입력해주세요.
            input#choose-cash(name='recharge-cash' placeholder='요금제일 때만 입력해주세요.' disabled='true')
        .col-submit
          button.submitbtn#charge-btn 충전하기
        input(type='hidden' name='minPerDay')
        input(type='hidden' name='member')
        input(type='hidden' name='paymentId')
        input(type='hidden' name='type')
        input(type='hidden' name='price')
    //- DISPLAY ACTIVE MEMBERS LIST
    #active-members-list.modal
      .table-responsive-vertical.shadow-z-1.scroll-table.modal-content(style='width:50%')
        //- Table starts here
        table#active-members-table.table.table-hover.table-bordered.table-mc-light-blue
          thead
            tr
              th ID
              th 이름
              th 출입시간
              th 일시정지 여부
          tbody#active-members-table-body
        //- DISPLAY ACTIVE MEMBERS LIST
    //- DISPLAY ACCOUNT
    #account-list.modal(style='padding-top:0px')
      .modal-content.animate#account-wrapper(style='width:70%; padding-top:20px; margin-top:10px')
        #account-head.container
          h1.page-subhead-line This is dummy text , you can replace it with your original text.
          .col-md-2.col-md-offset-2
            .form-group
              #datetimepickerMin.input-group.date
                input.form-control(type='text' name='mindate' placeholder='시작 날짜')
                span.input-group-addon
                  span.fa.fa-calendar(area-hidden='true')
          .col-md-2
            .form-group
              #datetimepickerMax.input-group.date
                input.form-control(type='text' name='maxdate' placeholder='마지막 날짜')
                span.input-group-addon
                  span.fa.fa-calendar(area-hidden='true')
          .col-md-2
            .main-box.mb-dull
              a#view-account-list
                h6 보기
        .container#account-list-container
          .com-md-12
            form#add-account-list
              .col-3
                label
                  | 내용
                  input(placeholder='내용을 입력해주세요.', name='account-content', required='required')
              .col-3.switch
                label 수입<->지출
                center(style='position:relative;margin-bottom:8px;')
                  input.switchery.js-switch(type='checkbox' name='account-inout')
              .col-3
                label
                  | 금액
                  input(name='account-price', type='text', required='required')
              .col-submit
                button.submitbtn#account-submit 등록하기
              //-THERE'S HIDDEN FORM TO SEND TOKENS
        script.
          //-
          //- turn on/off switch action
          //-
          var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
          elems.forEach(function(html) {
          var switchery = new Switchery(html);
          });

        .container
          .col-md-12
            h1.page-subhead-line This is dummy text , you can replace it with your original text. 
            .table-responsive-vertical.shadow-z-1.scroll-table(style='width:100%')
              //- Table starts here
              table#account-table.table.table-hover.table-bordered.table-mc-light-blue
                thead
                  tr
                    th 일자
                    th 내용
                    th 수입/지출
                    th 금액
                    th
                    th(style='display:none')
                tbody#account-table-body
                  tr  
                    td(data-title="ts" contenteditable='true') test
                    td(data-title="content" contenteditable='true') test
                    td(data-title="inout") test
                    td(data-title="price") test
                    td(data-title="modify") test
                    td(data-title="hidden" style='display:none') 1
                //- DISPLAY ACCOUNT
    //- Add all page content inside this div(id="main")
    #use-milage-modal.modal(style='padding-top:0px')
      form.modal-content.animate(style='width:40%')
        .col-2
          label
            | ID
            input#use-milage-name(placeholder='ID를 입력해주세요.', name='membername', required='required')
        .col-2
          label
            | 마일리지
            input#amount-use-milage(placeholder='사용할 마일리지를 입력해주세요.' name='milage', type='text', required='required')
        .col-submit
          button.submitbtn#use-milage-submit 사용하기
        //-THERE'S HIDDEN FORM TO SEND TOKENS
        input(type='hidden' name='accessToken')
        input(type='hidden' name='refreshToken')
        
    //- STUDY ROOM RESERVATION
    #studyroom-reservation-modal.modal(style='padding-top:0px')
      .modal-content.animate#reservation-wrapper(style='width:50%; padding-top:20px; margin-top:10px')
        #account-head.container(style='width:100%')
          h1.page-subhead-line 스터디룸 예약 날짜를 선택해주세요.
          .col-md-8
            .form-group
              #reservation-date.input-group.date
                input.form-control(type='text' name='reserve-date' placeholder='예약 날짜')
                span.input-group-addon
                  span.fa.fa-calendar(area-hidden='true')
          .col-md-4
            .main-box.mb-dull(style='padding:5px')
              a#reserve-date-select.a-cursor-pointer
                h6 선택
        #select-hours-container.container(style="width:100%; display:none")
          .col-md-3
            .form-group
              label 시작 시간
              //-input.form-control#start-hour(type='text' placeholder='ex: 7 (07:00), 15.5 (15:30)')
              select.form-control#select-hours
                option(name='7')    07:00
                option(name='7.5')  07:30
                option(name='8')    08:00
                option(name='8.5')  08:30
                option(name='9')    09:00
                option(name='9.5')  09:30
                option(name='10')   10:00
                option(name='10.5') 10:30
                option(name='11')   11:00
                option(name='11.5') 11:30
                option(name='12')   12:00
                option(name='12.5') 12:30
                option(name='13')   13:00
                option(name='13.5') 13:30
                option(name='14')   14:00
                option(name='14.5') 14:30
                option(name='15')   15:00
                option(name='15.5') 15:30
                option(name='16')   16:00
                option(name='16.5') 16:30
                option(name='17')   17:00
                option(name='17.5') 17:30
                option(name='18')   18:00
                option(name='18.5') 18:30
                option(name='19')   19:00
                option(name='19.5') 19:30
                option(name='20')   20:00
                option(name='20.5') 20:30
                option(name='21')   21:00
                option(name='21.5') 21:30
                option(name='22')   22:00
                option(name='22.5') 22:30
                option(name='23')   23:00
          .col-md-3
            label
              | 이용 시간
            input.form-control#duration(type='text' placeholder='한 시간 단위로 입력.')
          .col-md-3
            label
              | 방 번호
            select.form-control#select-room
              option(name='1') 1
              option(name='2') 2
              option(name='3') 3
          .col-md-3
            .main-box.mb-dull(style='padding:5px')
              a#reserve-hour-select.a-cursor-pointer
                h6 예약
        .container(style='width:100%')
          .col-md-12
            h1.page-subhead-line 예약 현황 
        .container(style='width:100%')
          .col-md-4
            .table-responsive-vertical.shadow-z-1.scroll-table
              //- Table starts here
              table#account-table.table.table-hover.table-bordered.table-mc-light-blue
                thead
                  tr
                    th 시간
                    th 예약 여부
                //- THIS IS ROOM 1    
                tbody#reservation-table-body-1
                  tr(name='7.0')
                    th 07:00
                    th(name='avail')
                  tr(name='7.5')
                    th 07:30
                    th(name='avail')
                  tr(name='8.0')
                    th 08:00
                    th(name='avail')
                  tr(name='8.5')
                    th 08:30
                    th(name='avail')
                  tr(name='9.0')
                    th 09:00
                    th(name='avail')
                  tr(name='9.5')
                    th 09:30
                    th(name='avail')
                  tr(name='10.0')
                    th 10:00
                    th(name='avail')
                  tr(name='10.5')
                    th 10:30
                    th(name='avail')
                  tr(name='11.0')
                    th 11:00
                    th(name='avail')
                  tr(name='11.5')
                    th 11:30
                    th(name='avail')
                  tr(name='12.0')
                    th 12:00
                    th(name='avail')
                  tr(name='12.5')
                    th 12:30
                    th(name='avail')
                  tr(name='13.0')
                    th 13:00
                    th(name='avail')
                  tr(name='13.5')
                    th 13:30
                    th(name='avail')
                  tr(name='14.0')
                    th 14:00
                    th(name='avail')
                  tr(name='14.5')
                    th 14:30
                    th(name='avail')
                  tr(name='15.0')
                    th 15:00
                    th(name='avail')
                  tr(name='15.5')
                    th 15:30
                    th(name='avail')
                  tr(name='16.0')
                    th 16:00
                    th(name='avail')
                  tr(name='16.5')
                    th 16:30
                    th(name='avail')
                  tr(name='17.0')
                    th 17:00
                    th(name='avail')
                  tr(name='17.5')
                    th 17:30
                    th(name='avail')
                  tr(name='18.0')
                    th 18:00
                    th(name='avail')
                  tr(name='18.5')
                    th 18:30
                    th(name='avail')
                  tr(name='19.0')
                    th 19:00
                    th(name='avail')
                  tr(name='19.5')
                    th 19:30
                    th(name='avail')
                  tr(name='20.0')
                    th 20:00
                    th(name='avail')
                  tr(name='20.5')
                    th 20:30
                    th(name='avail')
                  tr(name='21.0')
                    th 21:00
                    th(name='avail')
                  tr(name='21.5')
                    th 21:30
                    th(name='avail')
                  tr(name='22.0')
                    th 22:00
                    th(name='avail')
                  tr(name='22.5')
                    th 22:30
                    th(name='avail')
                  tr(name='23.0')
                    th 23:00
                    th(name='avail')
                  tr(name='23.5')
                    th 23:30
                    th(name='avail')
                  tr(name='24.0')
                    th 24:00
                    th(name='avail')
          .col-md-4
            .table-responsive-vertical.shadow-z-1.scroll-table
              //- Table starts here
              table#account-table.table.table-hover.table-bordered.table-mc-light-blue
                thead
                  tr
                    th 시간
                    th 예약 여부
                //- THIS IS ROOM 2
                tbody#reservation-table-body-2
                  tr(name='7.0')
                    th 07:00
                    th(name='avail')
                  tr(name='7.5')
                    th 07:30
                    th(name='avail')
                  tr(name='8.0')
                    th 08:00
                    th(name='avail')
                  tr(name='8.5')
                    th 08:30
                    th(name='avail')
                  tr(name='9.0')
                    th 09:00
                    th(name='avail')
                  tr(name='9.5')
                    th 09:30
                    th(name='avail')
                  tr(name='10.0')
                    th 10:00
                    th(name='avail')
                  tr(name='10.5')
                    th 10:30
                    th(name='avail')
                  tr(name='11.0')
                    th 11:00
                    th(name='avail')
                  tr(name='11.5')
                    th 11:30
                    th(name='avail')
                  tr(name='12.0')
                    th 12:00
                    th(name='avail')
                  tr(name='12.5')
                    th 12:30
                    th(name='avail')
                  tr(name='13.0')
                    th 13:00
                    th(name='avail')
                  tr(name='13.5')
                    th 13:30
                    th(name='avail')
                  tr(name='14.0')
                    th 14:00
                    th(name='avail')
                  tr(name='14.5')
                    th 14:30
                    th(name='avail')
                  tr(name='15.0')
                    th 15:00
                    th(name='avail')
                  tr(name='15.5')
                    th 15:30
                    th(name='avail')
                  tr(name='16.0')
                    th 16:00
                    th(name='avail')
                  tr(name='16.5')
                    th 16:30
                    th(name='avail')
                  tr(name='17.0')
                    th 17:00
                    th(name='avail')
                  tr(name='17.5')
                    th 17:30
                    th(name='avail')
                  tr(name='18.0')
                    th 18:00
                    th(name='avail')
                  tr(name='18.5')
                    th 18:30
                    th(name='avail')
                  tr(name='19.0')
                    th 19:00
                    th(name='avail')
                  tr(name='19.5')
                    th 19:30
                    th(name='avail')
                  tr(name='20.0')
                    th 20:00
                    th(name='avail')
                  tr(name='20.5')
                    th 20:30
                    th(name='avail')
                  tr(name='21.0')
                    th 21:00
                    th(name='avail')
                  tr(name='21.5')
                    th 21:30
                    th(name='avail')
                  tr(name='22.0')
                    th 22:00
                    th(name='avail')
                  tr(name='22.5')
                    th 22:30
                    th(name='avail')
                  tr(name='23.0')
                    th 23:00
                    th(name='avail')
                  tr(name='23.5')
                    th 23:30
                    th(name='avail')
                  tr(name='24.0')
                    th 24:00
                    th(name='avail')
          .col-md-4
            .table-responsive-vertical.shadow-z-1.scroll-table
              //- Table starts here
              table#account-table.table.table-hover.table-bordered.table-mc-light-blue
                thead
                  tr
                    th 시간
                    th 예약 여부
                //- THIS IS ROOM 3
                tbody#reservation-table-body-3
                  tr(name='7.0')
                    th 07:00
                    th(name='avail')
                  tr(name='7.5')
                    th 07:30
                    th(name='avail')
                  tr(name='8.0')
                    th 08:00
                    th(name='avail')
                  tr(name='8.5')
                    th 08:30
                    th(name='avail')
                  tr(name='9.0')
                    th 09:00
                    th(name='avail')
                  tr(name='9.5')
                    th 09:30
                    th(name='avail')
                  tr(name='10.0')
                    th 10:00
                    th(name='avail')
                  tr(name='10.5')
                    th 10:30
                    th(name='avail')
                  tr(name='11.0')
                    th 11:00
                    th(name='avail')
                  tr(name='11.5')
                    th 11:30
                    th(name='avail')
                  tr(name='12.0')
                    th 12:00
                    th(name='avail')
                  tr(name='12.5')
                    th 12:30
                    th(name='avail')
                  tr(name='13.0')
                    th 13:00
                    th(name='avail')
                  tr(name='13.5')
                    th 13:30
                    th(name='avail')
                  tr(name='14.0')
                    th 14:00
                    th(name='avail')
                  tr(name='14.5')
                    th 14:30
                    th(name='avail')
                  tr(name='15.0')
                    th 15:00
                    th(name='avail')
                  tr(name='15.5')
                    th 15:30
                    th(name='avail')
                  tr(name='16.0')
                    th 16:00
                    th(name='avail')
                  tr(name='16.5')
                    th 16:30
                    th(name='avail')
                  tr(name='17.0')
                    th 17:00
                    th(name='avail')
                  tr(name='17.5')
                    th 17:30
                    th(name='avail')
                  tr(name='18.0')
                    th 18:00
                    th(name='avail')
                  tr(name='18.5')
                    th 18:30
                    th(name='avail')
                  tr(name='19.0')
                    th 19:00
                    th(name='avail')
                  tr(name='19.5')
                    th 19:30
                    th(name='avail')
                  tr(name='20.0')
                    th 20:00
                    th(name='avail')
                  tr(name='20.5')
                    th 20:30
                    th(name='avail')
                  tr(name='21.0')
                    th 21:00
                    th(name='avail')
                  tr(name='21.5')
                    th 21:30
                    th(name='avail')
                  tr(name='22.0')
                    th 22:00
                    th(name='avail')
                  tr(name='22.5')
                    th 22:30
                    th(name='avail')
                  tr(name='23.0')
                    th 23:00
                    th(name='avail')
                  tr(name='23.5')
                    th 23:30
                    th(name='avail')
                  tr(name='24.0')
                    th 24:00
                    th(name='avail')
    #main
      //- TOP NAV BAR
      ul#top_nav
        li#top_nav_list
          a(href='#' onclick='openNav()') 메뉴
        li#top_nav_list 
          a(href='#' onclick="document.getElementById('register-form').style.display='block'", style='width:auto;') 등록
        li#top_nav_list
          a#system_manager(style='cursor: pointer') 관리자 설정
        li#top_nav_list
          a#clients_page(style='cursor: pointer') 사용자 페이지
        
      //block content
      //- /. NAV SIDE
      #wrapper
        #page-wrapper
          #page-inner
            .row
              .col-md-12
                h1.page-head-line CRM
                h1.page-subhead-line 도구 모음 
            // /. ROW
            .row
              .col-md-6
                .main-box.mb-dull
                  a
                    i.fa.fa-bolt.fa-5x
                    h5 !{renderSrc.numOfMem} 명의 회원이 등록하였습니다.
              .col-md-6
                .main-box.mb-dull
                  a#active-members
                    i.fa.fa-plug.fa-5x
                    h5 !{renderSrc.numOfActiveMem} 명의 회원이 이용중입니다. 
            .row  
              .col-md-3
                .main-box.mb-dull
                  a#recharge.a-cursor-pointer
                    i.fa.fa-dollar.fa-5x
                    h5 요금제 등록
              .col-md-3
                .main-box.mb-dull
                  a#reserve-studyroom.a-cursor-pointer
                    i.fa.fa-check-square-o.fa-5x
                    h5 스터디룸 예약
              .col-md-3
                .main-box.mb-dull
                  a#account-management.a-cursor-pointer
                    i.fa.fa-book.fa-5x
                    h5 장부 관리
              .col-md-3
                .main-box.mb-dull
                  a#use-milage.a-cursor-pointer
                    i.fa.fa-book.fa-5x
                    h5 마일리지 사용하기
            .row
              .col-md-12
                h1.page-subhead-line 퇴실 필요 회원들 
            .row
              .col-md-12
                .scroll-table
                  .table-responsive-vertical.shadow-z-1
                    //- Table starts here
                    table#table.table.table-hover.table-bordered.table-mc-light-blue
                      thead
                        tr
                          th ID
                          th 좌석번호
                          th 잔여시간 (분)
                          th 
                      tbody#alert-member-table-body


    //- This is for rendering client page
    form#to-client-page(action='/clients/index' method='post')
      input(type='hidden' name='accessToken')
      input(type='hidden' name='refreshToken')
    //- --------------------------------------------------------------------------------------------------------
    //- SNACKBAR                
    //- --------------------------------------------------------------------------------------------------------
    #snackbar
      | 성공적으로 등록되었습니다.
    #lack-of-milage-err-snackbar
      | 마일리지가 부족합니다.
    #success-at-using-milage-snackbar
      | 마일리지를 사용하였습니다.
    
    script.
      //- Set the width of the side navigation to 250px and the left margin of the page content to 250px 
      function openNav() {
        document.getElementById('mySidenav').style.width = "250px";
        document.getElementById('main').style.marginLeft ="250px";
      }
      //- Set the width of the side navigation to 0 and the left margin of the page content to 0 
      function closeNav() {
        document.getElementById('mySidenav').style.width = '0';
        document.getElementById('main').style.marginLeft = '0';
      }    

            
    //- JQUERY SCRIPTS
    script(src='public/javascripts/temp/jquery-1.10.2.js')
    //- BOOTSTRAP SCRIPTS
    script(src='public/javascripts/temp/bootstrap.js')
    //- METISMENU SCRIPTS
    script(src='public/javascripts/temp/jquery.metisMenu.js')
    //- TEMPLATE LAYOUT SCRIPTS
    script(src='public/javascripts/temp/custom.js')
    //- BOOTSTRAP EONASDAN-BOOTSTRAP-DATEPICKER
    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bower_components/moment/min/moment.min.js')
    script(type='text/javascript', src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    link(rel='stylesheet', href='/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
    //- CUSTOM SCRIPTS
    script.
      $(document).ready(function() {
        var accessToken = '!{tokenPack.accessToken}';
        var refreshToken = '!{tokenPack.refreshToken}';
        
        //- Snackbar Signal
        var register_succ_snackbar  = '!{registerSnack}';
        var recharge_snack          = '!{rechargeSnack}';
        //-
        //-  *  this script is for saving token to localStorage.
        //-     And attach the token to subsequent calls.
        //-
        //-  *  [This is not implemented] 
        //-     If there's no tokens from server, jump this part
        //-
        //- maybe need more validation
        window.localStorage.setItem('accessToken', accessToken);
        window.localStorage.setItem('refreshToken', refreshToken);          

        //- form submit action
        $('#register-form').submit(function(event) {
          console.log('acc token', accessToken, 'ref token', refreshToken);
          /*
            Before submit the data to server
            validate the form of input data.
            
            1. check phonenum format
          */
          
          var valAccess  = window.localStorage.getItem('accessToken');    
          var valRefresh = window.localStorage.getItem('refreshToken');   
          $("#register-form > form > input[name='accessToken']").val(valAccess);
          $("#register-form > form > input[name='refreshToken']").val(valRefresh);
        });
        
        //-
        //- When the user clicks anywhere outside of the modal, close it
        //-
        
        window.onclick = function(event) {
          var register            = document.getElementById('register-form');    
          var recharge            = document.getElementById('recharge-form');
          var active_members_list = document.getElementById('active-members-list');
          var account_list        = document.getElementById('account-list');
          var use_milage          = document.getElementById('use-milage-modal');    
          var reserve_studyroom   = document.getElementById('studyroom-reservation-modal');
          
          if (event.target == recharge) {
            recharge.style.display = "none";
            var paymentList = document.getElementById("choose-payment");
            var memberList  = document.getElementById("choose-member");
            
            while(paymentList.firstChild) {
              paymentList.removeChild(paymentList.firstChild);
            }
            while(memberList.firstChild) {
              memberList.removeChild(memberList.firstChild);
            }
          }
          
          if (event.target == register) {
              register.style.display = "none";
          }
          
          if(event.target == active_members_list) {
            active_members_list.style.display = "none";
            var tbody = document.getElementById("active-members-table-body");
            /* and also should erase their children */
            while(tbody.firstChild) {
              tbody.removeChild(tbody.firstChild);
            }
          }
          
          if (event.target == account_list) {
            account_list.style.display = "none";
            /*
              AND also erase old value
            */
            var tbody = document.getElementById("account-table-body");
            while (tbody.firstChild) {
              tbody.removeChild(tbody.firstChild);
            }
          }
          
          if (event.target == use_milage) {
            use_milage.style.display = "none";
            document.getElementById("use-milage-name").value = "";
            document.getElementById("amount-use-milage").value = "";
          }
          
          if (event.target == reserve_studyroom) {
            var select_hours_container = document.getElementById('select-hours-container');
            reserve_studyroom.style.display = "none";
            /*
              also hide select hour form
            */
            select_hours_container.style.display = 'none';
          }
        }// end of function

        //- SNACKBAR
        function show_snackbar(id) {
          //- Get the snackbar
          var sb = document.getElementById(id);
          //- Add the class
          sb.className = "show";
          //- After 3 seconds, remove the show class from snackbar
          setTimeout(function() {sb.className = sb.className.replace("show", ""); }, 3000);
        }

        if(register_succ_snackbar === "true") {show_snackbar('snackbar');}
        
        //- END OF SNACKBAR
        
        
        /*
          Active member list button clicked 
        */
        $('a#active-members').click(function(event) {
          /* get the token */
          var valAccess  = window.localStorage.getItem('accessToken');    
          var valRefresh = window.localStorage.getItem('refreshToken'); 
          
          $.ajax({
            url: '/system/active-members',
            method: 'post',
            data: {
              accessToken: valAccess,
              refreshToken: valRefresh
            }
          }).done(function(results) {
            var json = JSON.parse(results);
            
            for (var i = 0; i < json.length; i++) {
              var jsonObj = json[i];
              var ispause = '-';
              if (jsonObj.pause === '1') ispause = '일시정지 중';
              $('#active-members-table-body').append(
                '<tr>'+
                ' <td data-title="ID">'+ jsonObj.alias +'</td>' +
                ' <td data-title="membername">'+ jsonObj.membername +'</td>' +
                ' <td data-title="enterts">'+ jsonObj['DATE_FORMAT(ts, "%H:%i")'] +'</td>' +
                ' <td date-title="ispause">'+ ispause+'</td>' +
                '</tr>'
              );
            }
            
            $('#active-members-list').css("display", "block");
          });          
        });
        
        
        
        
        
        
        
        
        
        
        
        
        /*
          Study Room Reservation
        */        
        $('#reserve-studyroom').click(function(event) {
          $('#studyroom-reservation-modal').css("display", "block");
        });
        /* send the selected date value to server and get the reservation state */
        $('#reserve-date-select').click(function(event) {
          /* 
            open the select hour form 
          */
          $('#select-hours-container').css('display', 'block');
          
          var reserveDate = $('#reservation-date').data("date");
          if (reserveDate === undefined) {
            alert('날짜를 선택해주세요.');
            return false;
          }
          
          $.ajax({
            url: '/system/studyroom-currentstate',
            method: 'post',
            data: {reserveDate: reserveDate}
          }).done(function(results) {
            var json = JSON.parse(results);
            console.log(json);
            var room1Reservation = json.room1;
            var room2Reservation = json.room2;
            var room3Reservation = json.room3;
            /*
              SHOULD RENDER THE JSON DATA
            */
            /*
              Now we should separate depends on the room number
            */
            /* render room 1 column */
            $('tbody#reservation-table-body-1').children('tr').each(function() {
              var name = $(this).attr('name');
              for (var i = 0; i < room1Reservation.length; i++) {
                var jsonelt = room1Reservation[i];
                var it = jsonelt.duration * 2; /* because table is separated with 30 min */
                if (parseFloat(name) === jsonelt.start) {
                  $(this).find('th[name="avail"]').text('reserved');
                  /* also for duration, mark with 'reserved' value */
                  var nextTd = $(this).next();
                  for (var i = 1; i < it; i++) {
                    nextTd.find('th[name="avail"]').text('reserved');
                    nextTd = nextTd.next();
                  }
                }
              }
            });
            /* render room 2 column */
            $('tbody#reservation-table-body-2').children('tr').each(function() {
              var name = $(this).attr('name');
              for (var i = 0; i < room2Reservation.length; i++) {
                var jsonelt = room2Reservation[i];
                var it = jsonelt.duration * 2; /* because table is separated with 30 min */
                if (parseFloat(name) === jsonelt.start) {
                  $(this).find('th[name="avail"]').text('reserved');
                  /* also for duration, mark with 'reserved' value */
                  var nextTd = $(this).next();
                  for (var i = 1; i < it; i++) {
                    nextTd.find('th[name="avail"]').text('reserved');
                    nextTd = nextTd.next();
                  }
                }
              }
            });
            /* render room 3 column */
            $('tbody#reservation-table-body-3').children('tr').each(function() {
              var name = $(this).attr('name');
              for (var i = 0; i < room3Reservation.length; i++) {
                var jsonelt = room3Reservation[i];
                var it = jsonelt.duration * 2; /* because table is separated with 30 min */
                if (parseFloat(name) === jsonelt.start) {
                  $(this).find('th[name="avail"]').text('reserved');
                  /* also for duration, mark with 'reserved' value */
                  var nextTd = $(this).next();
                  for (var i = 1; i < it; i++) {
                    nextTd.find('th[name="avail"]').text('reserved');
                    nextTd = nextTd.next();
                  }
                }
              }
            });
            
          });
        });
        /* show select hour container */
        $('#reservation-date').on('dp.change', function(e) {
          /*
            everytime date is change, should clear the table
          */
          $('tbody#reservation-table-body-1').children('tr').each(function() {
            $(this).find('th[name="avail"]').text('');
          });
        });
        /* if clicked hour select button -> reserve the room */
        $('#reserve-hour-select').click(function() {
          var startHour = $('#select-hours').find('option:selected').attr("name");
          var roomNum   = $('#select-room').find('option:selected').attr("name");
          var duration = $('#duration').val();
          var reserveDate = $('#reservation-date').data("date");
          
          if (startHour === '' || duration === '') {
            alert('fill the form please..');
            return false;
          }
          
          $.ajax({
            url: '/system/reserve-studyroom',
            method: 'post',
            data: {
              sh: startHour,
              du: duration,
              rd: reserveDate,
              rn: roomNum
            }
          }).done(function(results) {
            console.log(results);
            if (results.err === '2') {
              alert('already booked');
            }
            else if(results.err === '0') {
              alert('success');
            }
            /*
              Should clear the select hour form after that..
            */
            $('#select-hours').prop('selectedIndex', 0);
            $('#duration').val('');
          });
        });
        
        /*
          Display Account List 
        */
        $('#account-management').click(function(event) {
          /* before change display property, first get the old list from db */
          $('#account-list').css("display", "block");
        });
        $('#account-submit').click(function(event) {
          /* prevent go else where */
          event.preventDefault();
          
          var valAccess   = window.localStorage.getItem('accessToken');    
          var valRefresh  = window.localStorage.getItem('refreshToken');
          var content     = $('input[name="account-content"]').val();
          var inout       = $('input[name="account-inout"]').is(':checked');
          var price       = $('input[name="account-price"]').val();

          $.ajax({
            url: '/system/add-account-list',
            method: 'post',
            data: {
              accessToken: valAccess,
              refreshToken: valRefresh, /* list data */
              content: content,
              inout: inout,
              price: price
            }
          }).done(function(results) {
            alert('등록되었습니다.');
          });
          /*
            empty the field
          */
          $('input[name="account-content"]').val("");
          $('input[name="account-inout"]').attr("checked", false);
          $('.switchery')
            .css("box-shadow", "rgb(223, 223, 223) 0px 0px 0px 0px inset")
            .css("border-color", "rgb(223, 223, 223)")
            .css("background-color", "rgb(255, 255, 255)");
          $('.switchery > small').css("left", "0px");
          $('input[name="account-price"]').val("");
        })
        /*
          Datepicker Display
        */
        $('#datetimepickerMin').datetimepicker({format: 'YYYY-MM-DD'});
        $('#datetimepickerMax').datetimepicker({
          useCurrent: false, //Important! See issue #1075
          format: 'YYYY-MM-DD'
        });
        $("#datetimepickerMin").on("dp.change", function (e) {
          $('#datetimepickerMax').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepickerMax").on("dp.change", function (e) {
          $('#datetimepickerMin').data("DateTimePicker").maxDate(e.date);
        });
        
        /* reservation datepicker*/
        $('#reservation-date').datetimepicker({
          useCurrent: false,
          format: 'YYYY-MM-DD'
        });
        /*
          If admin clicked btn which display accoutn list between two dates
        */
        $('#view-account-list').click(function() {
          var mindate = $('#datetimepickerMin').data("date");
          var maxdate = $('#datetimepickerMax').data("date");
          console.log(mindate);
          
          if (mindate === undefined || maxdate === undefined) {
            alert('날짜를 입력해주세요.');
            return false;
          }
          /*
            should erase old value
          */
          var tbody = document.getElementById('account-table-body');
          while (tbody.firstChild) {
            tbody.removeChild(tbody.firstChild);
          }
          
          
          /*
            then ajax
          */
          $.ajax({
            url: '/system/view-account-list',
            method: 'post',
            data: {
              mindate: mindate,
              maxdate: maxdate
            }
          }).done(function(results) {
            console.log(results);
            var json = JSON.parse(results);
            
            for (var i = 0; i < json.length; i++) {
              var jsonelt = json[i];
              var inout;
              if (jsonelt.ep === "true") {
                inout = "지출";
              }
              else {
                inout = "수입";
              }
            
              $('tbody#account-table-body').append(
                '<tr>'+
                ' <td data-title="ts">'+ jsonelt['DATE_FORMAT(ts, "%Y-%m-%d")'] +'</td>' +
                ' <td data-title="content">'+ jsonelt.content +'</td>' +
                ' <td data-title="inout">'+ inout +'</td>' +
                ' <td data-title="price">'+ jsonelt.price +'</td>' +
                ' <td date-title="modify"><a class="modify-row">[수정]</a></td>' +
                '</tr>'
              );
              $('.modify-row').css('cursor', 'pointer');
            }
            
          });
        });
        
        /*
          Use Milage 
        */
        $('#use-milage').click(function() {
          $('#use-milage-modal').css("display", "block");          
        });
        /* when submit the form*/
        $('#use-milage-submit').click(function(event) {
          event.preventDefault();
          var valAccess  = window.localStorage.getItem('accessToken');    
          var valRefresh = window.localStorage.getItem('refreshToken');
          var membername = $('#use-milage-name').val();
          var milage     = $('#amount-use-milage').val();
          
          $.ajax({
            url: '/system/use-milage',
            method: 'post',
            data: {
              accessToken   : valAccess,
              refreshToken  : valRefresh,
              membername    : membername,
              milage        : milage
            }
          }).done( function (results) {
            var json = JSON.parse(results);
            console.log(json);
            // show snackbar or some alert to admin
            if (json.err === "1") {
              // failed
              show_snackbar('lack-of-milage-err-snackbar');
            }
            else if(json.err === "0") {
              //success
              show_snackbar('success-at-using-milage-snackbar');
            }
            
            $('#use-milage-name').val("");
            $('#amount-use-milage').val("");
          });
        });
        
        
        
        
        
        /*
          home link always send tokens with ajax call
        */
        $('a#home').click(function(event) {
          var valAccess  = window.localStorage.getItem('accessToken');    
          var valRefresh = window.localStorage.getItem('refreshToken'); 

          $.ajax({
            url: '/home',
            method: 'post',
            data: {
              accessToken: valAccess,
              refreshToken: valRefresh
            }
          });
        });
        //- recharge milage button clicked, inflate the recharge form
        
        /* 
          Now memArr, payArr can used globally
        */
        var memArr;
        var payArr;
        $('a#recharge').click(function(event) {
          //- When clicked, should get data from database.
          $.ajax({
            url: '/recharge',
            method: 'post'
          }).done(function(results) {
            //alert(results[0]);
            memArr = results.memberArr;
            payArr = results.paymentObj;
            console.log(payArr[0]);
            $('#choose-member').append("<option>선택해주세요.</option>");
            for (var i = 0; i < memArr.length; i++) {
              $('#choose-member').append("<option>"+memArr[i]+"</option>");              
            }
            
            $('#choose-payment').append("<option>선택해주세요.</option>");
            for (var i = 0; i < payArr.length; i++) {
              var paymentname;
              if(payArr[i].type === "daily") {
                paymentname = payArr[i].name + ' - 하루 단위';
              }
              else if (payArr[i].type === "monthly") {
                paymentname = payArr[i].name + ' - 월 단위';
              }
              else if (payArr[i].type === "halfmonthly") {
                paymentname = payArr[i].name + ' - 보름 단위';
              }
              else {
                paymentname = payArr[i].name;
              }
              
              $('#choose-payment').append("<option>"+paymentname+"</option>");
            }

            $('#recharge-form').css("display", "block");
                        
          });
        });

        $('#choose-payment').on('change', function(event) {
          /* if change first erae the cash value */
          $("#choose-cash").attr("value", "");
          
          var val = $(this).prop('selectedIndex');
          if(val === 1) {
            $("#choose-cash").attr("disabled", false);
            $("#choose-cash").attr("placeholder", '');
          }
          else {
            $("#choose-cash").attr("disabled", true);
            $("#choose-cash").attr("value", payArr[val-1].price);
          }
        })
        /*
          Buggy : set again disabled = true and placeholder again when window is reopened
        */
        /*
          When trying to submit the form, just validate the input value, and check emptyness.
        */
        $("#recharge-form").submit(function(event) {
          var memberIdx = $("#choose-member").prop('selectedIndex');
          var paymentIdx = $("#choose-payment").prop('selectedIndex');
          var cash = $("#choose-cash").val();
          alert(cash);
          if (memberIdx === 0) {
            alert("회원을 선택해주세요.");
            event.preventDefault();
          }
          else if (paymentIdx === 0) {
            alert("요금제를 선택해주세요.");
            event.preventDefault();
          }
          else if (cash === '') {
            
            alert("금액을 입력해주세요.");
            event.preventDefault();
          }
          else {
            $('input[name="minPerDay"]').val(payArr[paymentIdx-1].timePerDay);
            $('input[name="member"]').val(memArr[memberIdx-1]);
            $('input[name="paymentId"]').val(payArr[paymentIdx-1].id);
            $('input[name="type"]').val(payArr[paymentIdx-1].type);
            $('input[name="price"]').val($("#choose-cash").val());
            
            //event.preventDefault();
          }
        });
        
        //- When User clicked System Manger button
        $('#system_manager').click(function(event) {
          $.ajax({
            url: '/home',
            method: 'post',
            data: {
              accessToken: valAccess,
              refreshToken: valRefresh
            }
          });          
        });
        
        //- When User clicked System Manger button
        $('a#clients_page').click(function(event) {
          var valAccess  = window.localStorage.getItem('accessToken');    
          var valRefresh = window.localStorage.getItem('refreshToken');
          
          $("#to-client-page > input[name='accessToken']").val(valAccess);
          $("#to-client-page > input[name='refreshToken']").val(valRefresh);
          $("form#to-client-page").submit();
        });
        
        //-
        //- Periodically request to server to check whether there is users who almost spend their time
        //-
        setInterval(periodicRequest, 15 * 60 * 1000);
      }); 
      function periodicRequest() {
        $.ajax({
          url: '/clients/scheduler',
          method: 'post',
          data: {reqeust: '1'}
        }).done(function(results) {
          var json = JSON.parse(results);
          console.log(json);
          
          /* 
            If there's no element in the table, just add all of them 
          */
          if ($('#alert-member-table-body').children().children('td[data-title="ID"]').length === 0) { 
            for (var i = 0; i < json.length; i++) {
              $('#alert-member-table-body').append(
                '<tr>'+
                ' <td data-title="ID">'+ json[i].alias +'</td>' +
                ' <td data-title="seatNum">'+ json[i].seatnum +'</td>' +
                ' <td data-title="timeLeft">'+ json[i].left +'</td>' +
                ' <td date-title="delete"><a class="delete-row">[삭제하기]</a></td>' +
                '</tr>'
              );
              $('.delete-row').click(function() {
                $(this).parent().parent('tr').remove();
              });
            }
          }
          else {
            /*
              If there's elements, we should check redundent element first
            */
            var oldelt = [];
            $('#alert-member-table-body').children().children('td[data-title="ID"]').each(function () {
              oldelt.push($(this).text());
            });
            console.log('this is oldelt');
            console.log(oldelt);
            for (var i = 0; i < json.length; i++ ) {
              var checkRedun = 0;
              for (var j = 0; j < oldelt.length; j++) {
                if (json[i].alias === oldelt[j]) checkRedun = 1;
              } 
              /* we finished comparing all the old elements with new one
                and if new is real new, then checkRedun = 1
              */
              if(checkRedun === 0) {
                $('#alert-member-table-body').append(
                  '<tr>'+
                  ' <td data-title="ID">'+ json[i].alias +'</td>' +
                  ' <td data-title="seatNum">'+ json[i].seatnum +'</td>' +
                  ' <td data-title="timeLeft">'+ json[i].left +'</td>' +
                  ' <td date-title="delete"><a class="delete-row">[삭제하기]</a></td>' +
                  '</tr>'
                );
                $('.delete-row').click(function() {
                  $(this).parent().parent('tr').remove();
                });  
              } /* end of appending */
            } /* end of json loop */
          }
        });
      }
      
      
      //- 
      //- <tr>
      //-   <td data-title="ID">11111111</td>
      //-   <td data-title="seatNum">Material Design Color Palette</td>
      //-   <td data-title="timeLeft"><a href="https://github.com/zavoloklom/material-design-color-palette" target="_blank">GitHub</a></td>
      //-   <td><i area-hidden="true" onclick="deleteList()" class="fa fa-trash table-button"></i></td>
      //- </tr>      
      //- table#table.table.table-hover.table-bordered.table-mc-light-blue
      //-   thead
      //-     tr
      //-       th ID
      //-       th 좌석번호
      //-       th 잔여시간
      //-       th 
      //-   tbody
      //-     tr
      //-       td(data-title='ID') 11111111
      //-       td(data-title='Name') Material Design Color Palette
      //-       td(data-title='Link')
      //-         a(href='https://github.com/zavoloklom/material-design-color-palette', target='_blank') GitHub
      //-       td
      //-         i.fa.fa-trash.table-button(area-hidden='true' onclick="deleteList()")
      //-     tr
      //-       td(data-title='ID') 11111111
      //-       td(data-title='Name') Material Design Color Palette
      //-       td(data-title='Link')
      //-         a(href='https://github.com/zavoloklom/material-design-color-palette', target='_blank') GitHub
      //-       td
      //-         i.fa.fa-trash.table-button(area-hidden='true' onclick="deleteList()")
