html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width initial-scale=1")
    //- BOOTSTRAP STYLES
    link(href='public/stylesheets/temp/bootstrap.css',      rel='stylesheet')
    //- FONTAWESOME STYLES
    link(href='public/stylesheets/temp/font-awesome.css',   rel='stylesheet')
    //- TEMPLATE BASIC STYLES
    link(href='public/stylesheets/temp/basic.css',          rel='stylesheet')
    //- TEMPLATE MAIN STYLES
    link(href='public/stylesheets/temp/custom.css',         rel='stylesheet')
    //- TEMPLATE FORM SCRIPTS
    script(src='public/javascripts/temp/switchery.min.js')
    //- TEMPLATE FORM STYLEs
    link(href='public/stylesheets/temp/form-style.css',     rel='stylesheet')
    link(href='public/stylesheets/temp/switchery.min.css',  rel='stylesheet')
    link(href='public/stylesheets/temp/modal-form.css',     rel='stylesheet')
    //- GOOGLE FONTS
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/earlyaccess/jejugothic.css', rel='stylesheet', type='text/css')
    //- TEMPLATE SNACKBAR STYLES
    link(href='public/stylesheets/temp/snackbar.css',     rel='stylesheet')
    //- TEMPLATE TABLE STYLES
    link(href='public/stylesheets/temp/table-style.css',     rel='stylesheet')
    //- CUSTOM style
    link(href="public/stylesheets/style.css" rel='stylesheet')
    //- TABLE SORTER STYLE
    link(href='public/__jquery.tablesorter/themes/blue/style.css' rel="stylesheet" type="text/css")
    //- SEAT CHART PLUG-IN
    link(href='public/stylesheets/temp/jquery.seat-charts.css' rel='stylesheet')
    //- SEAT CHART CUSTOM STYLE
    link(href='public/stylesheets/temp/seat-chart-custom.css' rel='stylesheet')
    //- SALES, ACCOUNT PAGE STYLE
    link(href='public/stylesheets/temp/sales.css' rel='stylesheet')
  body
    //- MODAL REGISTER FORM
    #register-form.modal
      form.modal-content.animate
        .col-4
          label
            | 이름
            input#name(placeholder='이름을 입력해주세요.', name='membername', required='required')
        .col-4.switch
          label 성별(남<->여)
          center(style='position:relative;margin-bottom:8px;')
            input.switchery.js-switch#sex(type='checkbox' name='sex')
            input#sex_hidden(type='hidden')
        .col-4
          label
            | 비밀번호
            input#Password(placeholder='6자리 숫자를 입력해주세요.', type='password', name='password', size='6', maxlength='6', required='required')
        .col-4
          label
            | 휴대폰번호
            input#phone(placeholder="'-'는 빼고 입력해주세요.", name='phonenum', type='text', required='required')
        .col-2
          label
            | 준비 시험
            input#prepare(name='prepare' type='text')
        .col-2
          label
            | 메모
            input#memo(name='memo' type='text')
        .col-submit
          button.submitbtn#registerSubmit 등록하기
        //- MODAL REGISTER FORM
    //- USAGE LIST
    #member-usage-list-modal.modal(style='padding-top:0;padding-bottom:0;z-index:2;')
      .sell-product-modal-wrapper.modal-content.container.animate(style="width:70%; height:98%; padding:20px; padding-top:30px; margin-top:10px;")
        h1.page-subhead-line(style="font-size:18px; text-align:center") 사용자 사용내역
        .row
          .col-md-6
            .form-inline
              .form-group
                label.inline-label 조회 날짜
                .input-group.date#member-usage-datetimepicker-start
                  input.form-control(type='text' style='font-size:11px;')
                  span.input-group-addon
                    span.fa.fa-calendar(aria-hidden='true')
                label.inline-label ~
                .input-group.date#member-usage-datetimepicker-end
                  input.form-control(type='text' style='font-size:11px;')
                  span.input-group-addon
                    span.fa.fa-calendar(aria-hidden='true')
                .main-box.mb-dull(style='padding:5px; display:inline-block; margin-left:15px;')
                  a#refresh-userusagelist.a-cursor-pointer
                    h6 새로고침
          .col-md-4.col-md-offset-1
            label.inline-label 이름: 
            label.inline-label#member-usage-list-name
            label.inline-label 아이디: 
            label.inline-label#member-usage-list-id
        .row
          .col-md-12
            .table-responsive-vertical.shadow-z-1.scroll-table(style='width:100%;height:30%')
              //- Table starts here
              table#member-usage-table.table.table-hover.table-bordered.table-mc-light-blue.tablesorter(style='width:100%')
                thead
                  tr
                    th 판매 내역
                    th 수량
                    th 할인
                    th 미납
                    th 금액
                    th 판매 일자
                    th 납부 방법
                    th 납부 일자
                    th 적립코업머니
                    th 사용코업머니
                    th
                tbody#member-usage-table-body
        br
        hr
        br
        .row
          .col-md-6
            .table-responsive-vertical.shadow-z-1.scroll-table(style='width:100%;height:30%')
              //- Table starts here
              table#member-enterance-table.table.table-hover.table-bordered.table-mc-light-blue.tablesorter(style='width:100%')
                thead
                  tr
                    th 시간
                    th 좌석번호
                    th 상태
                tbody#member-enterance-table-body
          .col-md-6
            .table-responsive-vertical.shadow-z-1.scroll-table(style='width:100%;height:30%')
              //- Table starts here
              table#member-enterance-static-table.table.table-hover.table-bordered.table-mc-light-blue.tablesorter(style='width:100%')
                thead
                  tr
                    th 총 사용시간(분)
                tbody#member-enterance-static-table-body
        
    //- SELL PRODUCT MODAL /////////////////////////////////////////////////////////////////////////////////////
    #sell-product-modal.modal(style='padding-top:0;padding-bottom:0;z-index:2;')
      .sell-product-modal-wrapper.modal-content.container.animate(style="width:70%; height:98%; padding:20px; padding-top:30px; margin-top:10px;")
        h1.page-subhead-line(style="font-size:18px; text-align:center") 상품 판매 화면입니다.
        .row
          .col-md-11(style="padding-right:0px; margin-left:5%")
            .row
              .col-md-6
                .input-group
                  .input-group-addon
                    i.fa.fa-search(aria-hidden="true")
                  input#products-filter.form-control(type="text" placeholder='상품이름으로 검색' onkeyup="product_finder()")
                hr
                .table-responsive-vertical.shadow-z-1.scroll-table(style='width:100%;height:35%')
                  //- Table starts here
                  table#product-table.table.table-hover.table-bordered.table-mc-light-blue.tablesorter(style='width:100%')
                    thead
                      tr
                        th 상품명
                        th 그룹
                        th 가격
                        th 설명
                        th
                    tbody#product-table-body
                .table-responsive-vertical.shadow-z-1.scroll-table(style='width:100%;height:35%')
                  //- Table starts here
                  table#selected-product-table.table.table-hover.table-bordered.table-mc-light-blue.tablesorter(style='width:100%')
                    thead
                      tr
                        th 장바구니 상품
                        th 수량
                        th 가격
                        th 할인
                        th 미납
                        th
                    tbody#selected-product-table-body
                br
                .row
                  .col-md-4.col-md-offset-4
                    .main-box.mb-dull(style='padding:5px')
                      a#determine-shoppinglist.a-cursor-pointer
                        h6 선택완료
              .col-md-6
                .sub-wrapper(style='border: 1px solid black;height:85%')
                  h1.page-subhead-line(style='text-align: center; font-size:18px') 결제정보
                  .sales-content(style='font-size:9px;')
                    .row
                      .col-md-5.col-md-offset-1
                        .input-group
                          span.input-group-addon 이름
                          input.form-control#sales-name(type='text' readonly)
                          input.form-control#sales-alias(type='hidden')
                      .col-md-5
                        .input-group
                          span.input-group-addon 코업머니
                          input.form-control#sales-coupmoney(type='text' readonly)
                    br
                    hr
                    br
                    .row
                      .col-md-10.col-md-offset-1
                        .input-group
                          span.input-group-addon 합계 금액
                          input.form-control#sales-total(type='text' readonly)
                    br
                    .row
                      .col-md-10.col-md-offset-1
                        .input-group
                          span.input-group-addon 할인 금액
                          input.form-control#sales-discount(type='text' readonly)
                    br
                    .row
                      .col-md-10.col-md-offset-1
                        .input-group
                          span.input-group-addon 미납 금액
                          input.form-control#sales-notpaid(type='text' readonly)
                    br
                    .row
                      .col-md-10.col-md-offset-1
                        .input-group
                          span.input-group-addon 사용 코업머니
                          input.form-control#sales-usecoup(type='text')
                    br
                    .row
                      .col-md-10.col-md-offset-1
                        .input-group
                          span.input-group-addon 적립 코업머니
                          input.form-control#sales-addcoup(type='text')
                    br
                    br
                    .row
                      .col-md-10.col-md-offset-1
                        .input-group
                          span.input-group-addon 최종 결제 금액
                          input.form-control#sales-final(type='text' readonly)
                    br
                    hr
                    br
                    .row
                      .col-md-5.col-md-offset-1
                        .input-group
                          span.input-group-addon 결제 방법
                          select.form-control#sales-option
                            option(name='0')  현금
                            option(name='1')  카드
                            option(name='2')  무통장
                            option(name='3')  기타
                      .col-md-5
                        .input-group
                          span.input-group-addon 납부 날짜
                          .input-group.date#sales-payday-datetimepicker
                            input.form-control(type='text' style='font-size:11px;')
                            span.input-group-addon
                              span.fa.fa-calendar(aria-hidden='true')
                    br
                    .row
                      .col-md-10.col-md-offset-1
                        .input-group
                          span.input-group-addon 메모
                          input.form-control#sales-memo(type='text' placeholder='입력해주세요.')
                    .row(style='margin-top:7%')
                      .col-md-4.col-md-offset-4
                        .main-box.mb-dull(style='padding:5px')
                          a#register-selling.a-cursor-pointer
                            h6 판매
    //- New Payment modal
    #new-payment-modal.modal(style='padding-top:0px;z-index:2;')
      form.modal-content.animate(style='width:40%;height:81%;padding:20px;padding-top:30px;margin-top:10px')
        h1.page-subhead-line(style="font-size:18px;text-align:center") 요금제 등록
        .sales-content(style='font-size:9px;')
          .row
            .col-md-5.col-md-offset-1
              .input-group
                span.input-group-addon 이름
                input.form-control#payment-name(type='text' readonly)
                input.form-control#payment-alias(type='hidden')
            .col-md-5
              .input-group
                span.input-group-addon 코업머니
                input.form-control#payment-coupmoney(type='text' readonly)
          br
          .row
            .col-md-10.col-md-offset-1
          br
          hr
          br
          .row
            .col-md-10.col-md-offset-1
              .input-group
                span.input-group-addon 요금제 종류
                select.form-control#choose-payment
          br
          .row
            .col-md-10.col-md-offset-1      
              .input-group
                span.input-group-addon 금액
                input.form-control#choose-cash(type='text' name='recharge-cash' placeholder='요금제일 때만 입력해주세요.' disabled='true')
          br
          .row
            .col-md-10.col-md-offset-1
              .input-group
                span.input-group-addon 할인금액
                input.form-control#choose-discount(type='text' name='discount-cash')
          br
          .row
            .col-md-5.col-md-offset-1
              .input-group
                span.input-group-addon 사용코업머니
                input.form-control#payment-usecoup(type='text' name='payment-usecoup')
            .col-md-5
              .input-group
                span.input-group-addon 적립코업머니
                input.form-control#payment-addcoup(type='text' name='payment-addcoup')
          br
          hr
          br
          .row
            .col-md-5.col-md-offset-1
              .input-group
                span.input-group-addon 결제 방법
                select.form-control#payment-option
                  option(name='0')  현금
                  option(name='1')  카드
                  option(name='2')  무통장
                  option(name='3')  기타
            .col-md-5
              .input-group
                span.input-group-addon 장부 내용
                input.form-control#payment-content(type='text' name='payment-content')
          br
          br
          .row
            .col-md-10.col-md-offset-1
              .input-group
                span.input-group-addon 메모
                input.form-control#payment-memo(type='text' name='payment-memo')
          .row(style='margin-top:7%')
            .col-md-4.col-md-offset-4
              .main-box.mb-dull(style='padding:5px')
                a#payment-submit.a-cursor-pointer
                  h6 등록
    //- DISPLAY ALL MEMBERS LIST
    #all-members-list.modal(style='padding-top:0;padding-bottom:0')
      .all-members-list-wrapper.modal-content.container(style="width:95%; height:100%; padding:20px; padding-top:30px; margin-top:10px;")
        h1.page-subhead-line(style="font-size:20px; text-align:center") 회원 목록입니다.
        .row
          .col-md-2.col-md-offset-10
            .form-inline
              .input-group
                .input-group-addon
                  i.fa.fa-search(aria-hidden="true")
                input#all-members-filter.form-control(type="text" placeholder='이름으로 검색' onkeyup="all_members_finder()")
              .input-group
                .input-group-addon
                  i.fa.fa-search(aria-hidden="true")
                input#all-members-filter-withalias.form-control(type="text" placeholder='아이디로 검색' onkeyup="all_members_finder_alias()")
        .row
          .col-md-12
            .table-responsive-vertical.shadow-z-1.scroll-table(style='width:100%; margin-top:1%; height:75%')
              //- Table starts here
              table#all-members-table.table.table-hover.table-bordered.table-mc-light-blue.tablesorter
                thead
                  tr
                    th ID
                    th 이름
                    th 요금제
                    th 잔여시간(일)
                    th 좌석
                    th 성별
                    th 준비시험
                    th 코업머니
                    th 메모
                    th
                tbody#all-members-table-body 
    //- DISPLAY ACTIVE MEMBERS LIST
    #active-members-list.modal(style='padding-top:10px;')
      .active-members-list-wrapper.modal-content.container(style="width:90%; height:100%; padding:20px; padding-top:30px; margin-top:10px;")
        h1.page-subhead-line(style="font-size:20px; text-align:center") 사용 중인 회원 목록입니다.
        .row
          .col-md-2.col-md-offset-10
            .input-group
              .input-group-addon
                i.fa.fa-search(aria-hidden="true")
              input#active-members-filter.form-control(type="text" placeholder='이름으로 검색' onkeyup="active_members_finder()")
        .row
          .col-md-12
            .table-responsive-vertical.shadow-z-1.scroll-table(style='width:100%; margin-top:1%; height:75%')
              //- Table starts here
              table#active-members-table.table.table-hover.table-bordered.table-mc-light-blue.tablesorter
                thead
                  tr
                    th ID
                    th 이름
                    th 요금제
                    th 입실시간
                    th 정지/퇴실시간
                    th 사용시간(분)
                    th 일시정지 여부
                    th 휴식시간(누적)
                    th 일시정지 시간
                    th 퇴실처리하기
                tbody#active-members-table-body
              //- DISPLAY ACTIVE MEMBERS LIST         
    //- DISPLAY ACTIVE MEMBERS LIST
    #active-members-list.modal(style='padding-top:10px;')
      .active-members-list-wrapper.modal-content.container(style="width:90%; height:100%; padding:20px; padding-top:30px; margin-top:10px;")
        h1.page-subhead-line(style="font-size:20px; text-align:center") 사용 중인 회원 목록입니다.
        .row
          .col-md-2.col-md-offset-10
            .input-group
              .input-group-addon
                i.fa.fa-search(aria-hidden="true")
              input#active-members-filter.form-control(type="text" placeholder='이름으로 검색' onkeyup="active_members_finder()")
        .row
          .col-md-12
            .table-responsive-vertical.shadow-z-1.scroll-table(style='width:100%; margin-top:1%; height:75%')
              //- Table starts here
              table#active-members-table.table.table-hover.table-bordered.table-mc-light-blue.tablesorter
                thead
                  tr
                    th ID
                    th 이름
                    th 요금제
                    th 입실시간
                    th 정지/퇴실시간
                    th 사용시간(분)
                    th 일시정지 여부
                    th 휴식시간(누적)
                    th 일시정지 시간
                    th 퇴실처리하기
                tbody#active-members-table-body
              //- DISPLAY ACTIVE MEMBERS LIST
    #history-modal.modal(style='padding-top:10px;')
      .modal-content.animate#history-wrapper.container(style="width:40%; height:100%; padding:20px; padding-top:30px; margin-top:10px;")
        h1.page-subhead-line(style="font-size:15px; text-align:center") 최근 회원분들의 사용기록입니다.
        .table-responsive-vertical.shadow-z-1.scroll-table
          .row
            .col-md-4.col-md-offset-8
              .input-group
                .input-group-addon
                  i.fa.fa-search(aria-hidden="true")
                input#history-filter.form-control(type="text" placeholder='이름으로 검색' onkeyup="history_finder()")
          hr
          .row
            .col-md-12
              //- Table starts here
              table#history-table.table.table-hover.table-bordered(style='font-size:13px;')
                thead
                  tr
                    th 시간
                    th ID
                    th 이름
                    th 좌석번호
                    th 상태
                tbody#history-table-body
              //- DISPLAY ACTIVE MEMBERS LIST
    //- Payback modal
    #payback-modal.modal(style='padding-top:0px;z-index:2;')
      form.modal-content.animate(style='width:40%;height:78%;padding:20px;padding-top:30px;margin-top:10px')
        h1.page-subhead-line(style="font-size:18px;text-align:center") 요금제 환불
        .sales-content(style='font-size:9px;')
          .row
            .col-md-4.col-md-offset-2
              .input-group
                .span.input-group-addon 이름
                input.form-control#payback-name(type='text' name='membername', readonly)
                input#payback-alias(type='hidden')
            .col-md-4
              .input-group
                .span.input-group-addon 코업머니
                input.form-control#payback-coup(type='text' name='membername', readonly)
          br
          hr
          br
          .row
            .col-md-8.col-md-offset-2
              .input-group
                .span.input-group-addon 이용 요금제
                input.form-control#payback-payment(type='text' readonly)
          br
          .row
            .col-md-8.col-md-offset-2
              .input-group
                .span.input-group-addon 잔여 일
                input.form-control#payback-leftdays(type='text' readonly)
          br
          .row
            .col-md-8.col-md-offset-2.form-group
              .input-group
                .span.input-group-addon 환불 코업머니
                input.form-control#payback-cashback(type='text' placeholder='환불 코업머니를 입력해주세요.' )
          br
          .row(style='margin-top:7%')
            .col-md-4.col-md-offset-4
              .main-box.mb-dull
                a#payback-determine.a-cursor-pointer
                  h6 환불하기
    //- Holdoff modal
    #holdoff-modal.modal      
      .modal-content.animate(style='width:40%')
        form
          .col-2
            label
              | ID 
              input#holdoff-name(placeholder='ID를 입력해주세요.' name='alias' required='required')
          .col-2
            button.submitbtn#holdoff-submit 검색
        .container#holdoff-hidden-container(style='display:none; width:100%')
          .row
            .col-md-12
              #holdoff-result(style='padding-top:5%;padding-bottom:5%;padding-left:10%')
          .row
            .col-md-12
              .main-box.mb-dull
                a#holdoff-determine.a-cursor-pointer
                  h6 상태변경하기
    //- Use milage modal
    #use-milage-modal.modal(style='padding-top:0px;z-index:2;')
      form.modal-content.animate(style='width:40%;height:78%;padding:20px;padding-top:30px;margin-top:10px')
        h1.page-subhead-line(style="font-size:18px;text-align:center") 코업머니 사용
        .sales-content(style='font-size:9px;')
          .row
            .col-md-4.col-md-offset-2
              .input-group
                .span.input-group-addon 이름
                input.form-control#use-milage-name(type='text' name='membername', readonly)
                input#use-milage-alias(type='hidden')
            .col-md-4
              .input-group
                .span.input-group-addon 코업머니
                input.form-control#use-milage-coup(type='text' name='membername', readonly)
          br
          hr
          br
          .row
            .col-md-8.col-md-offset-2
              .input-group
                .span.input-group-addon 사용코업머니
                input.form-control#amount-use-milage(type='text' name='milage', required='required' placeholder='사용할 코업머니를 입력하세요.')
          br
          .row
            .col-md-8.col-md-offset-2
              .input-group
                .span.input-group-addon 내용
                input.form-control#content-use-milage(type='text' name='content', value="코업머니 사용 및 충전" readonly)
          br
          .row
            .col-md-8.col-md-offset-2
              .input-group
                .span.input-group-addon 메모
                input.form-control#memo-use-milage(type='text' name='memo')
          br
          .row(style='margin-top:7%')
            .col-md-4.col-md-offset-4
              .main-box.mb-dull(style='padding:5px')
                a#use-milage-submit.a-cursor-pointer
                  h6 사용
    //- Charge milage
    #charge-milage-modal.modal(style='padding-top:0px;z-index:2;')
      form.modal-content.animate(style='width:40%;height:78%;padding:20px;padding-top:30px;margin-top:10px')
        h1.page-subhead-line(style="font-size:18px;text-align:center") 코업머니 충전
        .sales-content(style='font-size:9px;')
          .row
            .col-md-4.col-md-offset-2
              .input-group
                .span.input-group-addon 이름
                input.form-control#add-milage-name(type='text' name='membername', readonly)
                input#add-milage-alias(type='hidden')
            .col-md-4
              .input-group
                .span.input-group-addon 코업머니
                input.form-control#add-milage-coup(type='text' name='membername', readonly)
          br
          hr
          br
          .row
            .col-md-8.col-md-offset-2
              .input-group
                .span.input-group-addon 충전코업머니
                input.form-control#amount-charge-milage(type='text' name='milage', required='required' placeholder='충전할 코업머니를 입력하세요.')
          br
          .row
            .col-md-8.col-md-offset-2
              .input-group
                .span.input-group-addon 내용
                input.form-control#content-charge-milage(type='text' name='content', value="코업머니 사용 및 충전" readonly)
          br
          .row
            .col-md-8.col-md-offset-2
              .input-group
                .span.input-group-addon 할인금액
                input.form-control#discount-charge-milage(type='text' name='discount', required='required')
          br
          .row
            .col-md-8.col-md-offset-2
              .input-group
                .span.input-group-addon 결제금액
                input.form-control#price-charge-milage(type='text' name='price', required='required')
          br
          .row
            .col-md-8.col-md-offset-2
              .input-group
                span.input-group-addon 결제 방법
                select.form-control#cash-charge-option
                  option(name='0')  현금
                  option(name='1')  카드
                  option(name='2')  무통장
                  option(name='3')  기타
          br
          .row
            .col-md-8.col-md-offset-2
              .input-group
                .span.input-group-addon 메모
                input.form-control#memo-charge-milage(type='text' name='memo')
          br
          .row(style='margin-top:7%')
            .col-md-4.col-md-offset-4
              .main-box.mb-dull(style='padding:5px')
                a#charge-milage-submit.a-cursor-pointer
                  h6 충전    
    //- STUDY ROOM RESERVATION
    #studyroom-reservation-modal.modal(style='padding-top:0px')
      .modal-content.animate#reservation-wrapper(style='width:60%; height:100%; padding-top:20px; margin-top:10px;overflow-y:scroll')
        .container(style='width:100%')
          h1.page-subhead-line(style='font-size:18px;') 스터디룸 예약 날짜를 선택해주세요.
          .col-md-4
            .form-group
              #studyroom-datetimepickerMin.input-group.date
                input.form-control(type='text' name='mindate' placeholder='시작 날짜')
                span.input-group-addon
                  span.fa.fa-calendar(area-hidden='true')
          .col-md-4
            .form-group
              #studyroom-datetimepickerMax.input-group.date
                input.form-control(type='text' name='maxdate' placeholder='마지막 날짜')
                span.input-group-addon
                  span.fa.fa-calendar(area-hidden='true')
          .col-md-4
            .main-box.mb-dull(style='padding:5px')
              a#reserve-date-select.a-cursor-pointer
                h6 선택
        #select-hours-container.container(style="width:100%; display:none")
          .row
            .col-md-3
              .form-group
                label 시작 시간
                //-input.form-control#start-hour(type='text' placeholder='ex: 7 (07:00), 15.5 (15:30)')
                select.form-control#select-hours
                  option(name='0')    00:00
                  option(name='0.5')  00:30
                  option(name='1')    01:00
                  option(name='1.5')  01:30
                  option(name='2')    02:00
                  option(name='2.5')  02:30
                  option(name='3')   03:00
                  option(name='3.5') 03:30
                  option(name='4')   04:00
                  option(name='4.5') 04:30
                  option(name='5')   05:00
                  option(name='7')    07:00
                  option(name='7.5')  07:30
                  option(name='8')    08:00
                  option(name='8.5')  08:30
                  option(name='9')    09:00
                  option(name='9.5')  09:30
                  option(name='10')   10:00
                  option(name='10.5') 10:30
                  option(name='11')   11:00
                  option(name='11.5') 11:30
                  option(name='12')   12:00
                  option(name='12.5') 12:30
                  option(name='13')   13:00
                  option(name='13.5') 13:30
                  option(name='14')   14:00
                  option(name='14.5') 14:30
                  option(name='15')   15:00
                  option(name='15.5') 15:30
                  option(name='16')   16:00
                  option(name='16.5') 16:30
                  option(name='17')   17:00
                  option(name='17.5') 17:30
                  option(name='18')   18:00
                  option(name='18.5') 18:30
                  option(name='19')   19:00
                  option(name='19.5') 19:30
                  option(name='20')   20:00
                  option(name='20.5') 20:30
                  option(name='21')   21:00
                  option(name='21.5') 21:30
                  option(name='22')   22:00
                  option(name='22.5') 22:30
                  option(name='23')   23:00
            .col-md-3
              label
                | 이용 시간
              input.form-control#duration(type='text' placeholder='한 시간 단위로 입력.')
            .col-md-3
              label
                | 방 번호
              select.form-control#select-room
                option(name='1') 1
                option(name='2') 2
                option(name='3') 3
            .col-md-3
              .main-box.mb-dull(style='padding:5px')
                a#reserve-hour-select.a-cursor-pointer
                  h6 예약
          .row
            .col-md-3
              label 
                | 사용자명
              input.form-control#studyroom-users(type='text', placeholder='사용자명을 입력해주세요.')
            .col-md-3
              label
                | 사용 목적
              input.form-control#studyroom-purpose(type='text' placeholder='사용목적을 입력해주세요.')
            .col-md-3
              label 
                | 옵션
              select.form-control#select-option
                option(name='allday') 모두 이용
                option(name='weekend') 주말만 이용
                option(name='weekday') 평일만 이용
        hr
        .container(style='width:100%')
          h1.page-subhead-line(style='font-size:18px;') 스터디룸 취소 날짜를 선택해주세요.
          .col-md-4
            .form-group
              #studyroom-datetimepickerMin-cancel.input-group.date
                input.form-control(type='text' name='mindate-cancel' placeholder='시작 날짜')
                span.input-group-addon
                  span.fa.fa-calendar(area-hidden='true')
          .col-md-4
            .form-group
              #studyroom-datetimepickerMax-cancel.input-group.date
                input.form-control(type='text' name='maxdate-cancel' placeholder='마지막 날짜')
                span.input-group-addon
                  span.fa.fa-calendar(area-hidden='true')
          .col-md-4
            .main-box.mb-dull(style='padding:5px')
              a#cancel-date-select.a-cursor-pointer
                h6 선택
        #cancel-hours-container.container(style="width:100%; display:none")
          .row
            .col-md-3
              .form-group
                label 시작 시간
                //-input.form-control#start-hour(type='text' placeholder='ex: 7 (07:00), 15.5 (15:30)')
                select.form-control#select-hours-cancel
                  option(name='0')    00:00
                  option(name='0.5')  00:30
                  option(name='1')    01:00
                  option(name='1.5')  01:30
                  option(name='2')    02:00
                  option(name='2.5')  02:30
                  option(name='3')   03:00
                  option(name='3.5') 03:30
                  option(name='4')   04:00
                  option(name='4.5') 04:30
                  option(name='5')   05:00
                  option(name='7')    07:00
                  option(name='7.5')  07:30
                  option(name='8')    08:00
                  option(name='8.5')  08:30
                  option(name='9')    09:00
                  option(name='9.5')  09:30
                  option(name='10')   10:00
                  option(name='10.5') 10:30
                  option(name='11')   11:00
                  option(name='11.5') 11:30
                  option(name='12')   12:00
                  option(name='12.5') 12:30
                  option(name='13')   13:00
                  option(name='13.5') 13:30
                  option(name='14')   14:00
                  option(name='14.5') 14:30
                  option(name='15')   15:00
                  option(name='15.5') 15:30
                  option(name='16')   16:00
                  option(name='16.5') 16:30
                  option(name='17')   17:00
                  option(name='17.5') 17:30
                  option(name='18')   18:00
                  option(name='18.5') 18:30
                  option(name='19')   19:00
                  option(name='19.5') 19:30
                  option(name='20')   20:00
                  option(name='20.5') 20:30
                  option(name='21')   21:00
                  option(name='21.5') 21:30
                  option(name='22')   22:00
                  option(name='22.5') 22:30
                  option(name='23')   23:00
            .col-md-3
              label
                | 방 번호
              select.form-control#select-room-cancel
                option(name='1') 1
                option(name='2') 2
                option(name='3') 3
            .col-md-3
              .main-box.mb-dull(style='padding:5px')
                a#reserve-hour-select-cancel.a-cursor-pointer
                  h6 예약취소
        .container(style='width:100%')
          .row
            .col-md-12
              h1.page-subhead-line(style='font-size:18px; text-align: center') 예약 현황 
              h1.page-subhead-line#status-choosedDate(style='font-size:18px; text-align: center') (현재 날짜 기준)
          .row
            .col-md-2.col-md-offset-5
              .main-box.mb-dull(style='padding:5px')
                a#refresh-studyroom-status.a-cursor-pointer(style='text-align:center')
                  h7 새로고침
        .container(style='width:100%')
          .row
            .col-md-12
              h5 1번 스터디룸
              .table-responsive-vertical.shadow-z-1.scroll-table(style='height:45%')
                //- Table starts here
                table#study1-table.table.table-hover.table-bordered.table-mc-light-blue.tablesorter(style='overflow-x:scroll')
                  thead
                    tr
                      th 예약날짜
                      th 시작시간
                      th 사용시간
                      th 스터디룸
                      th 사용자
                      th 목적
                      th 옵션
                  //- THIS IS ROOM 1    
                  tbody#reservation-table-body-1
          br
          .row
            .col-md-12
              h5 2번 스터디룸
              .table-responsive-vertical.shadow-z-1.scroll-table(style='height:45%;width:100%;overflow-x:scroll')
                //- Table starts here
                table#study2-table.table.table-hover.table-bordered.table-mc-light-blue.tablesorter
                  thead
                    tr
                      th 예약날짜
                      th 시작시간
                      th 사용시간
                      th 스터디룸
                      th 사용자
                      th 목적
                      th 옵션
                  //- THIS IS ROOM 2
                  tbody#reservation-table-body-2
          br
          .row
            .col-md-12
              h5 3번 스터디룸
              .table-responsive-vertical.shadow-z-1.scroll-table(style='height:45%')
                //- Table starts here
                table#study3-table.table.table-hover.table-bordered.table-mc-light-blue.tablesorter
                  thead
                    tr
                      th 예약날짜
                      th 시작시간
                      th 사용시간
                      th 스터디룸
                      th 사용자
                      th 목적
                      th 옵션
                  //- THIS IS ROOM 3
                  tbody#reservation-table-body-3
    #chg-info-modal.modal(style='padding-top:0;padding-bottom:0;z-index:2;')
      .modal-content.container.animate(style="width:30%; height:38%; padding:20px; padding-top:30px; margin-top:150px;")
        h1.page-subhead-line(style="font-size:18px; text-align:center") 사용자 정보변경
        .row
          .col-md-6.col-md-offset-3
            .input-group
              span.input-group-addon 아이디
              input.form-control#chg-username(type='text' placeholder='새 아이디')
        br
        .row
          .col-md-6.col-md-offset-3
            .input-group
              span.input-group-addon 비밀번호
              input.form-control#chg-password(type='password' placeholder='새 비밀번호')
        br
        br
        .row
          .col-md-4.col-md-offset-4
            .main-box.mb-dull(style='padding:5px')
              a#chg-userinfo-submit.a-cursor-pointer
                h6 정보 변경
    #main
      //- TOP NAV BAR
      ul#top_nav
        li#top_nav_list 
          a.a-cursor-pointer(onclick="document.getElementById('register-form').style.display='block'", style='width:auto;') 등록
        li#top_nav_list
          a#clients_page(style='cursor: pointer') 사용자 페이지
        li#top_nav_list
          a#accountPage(style='cursor: pointer') 회계 페이지
        li#top_nav_list
          a#changeInfo(style='cursor: pointer') 관리자 정보 변경
        
      //block content
      //- /. NAV SIDE
      #wrapper
        #page-wrapper
          #page-inner
            .row
              .col-md-6(style='padding-left:30px; padding-right:30px')
                .row
                  .col-md-12
                    h1.page-head-line 도구 모음
                .row
                  .col-md-6
                    .main-box.mb-dull(style='margin-right:20px; margin-left:20px')
                      a#all-members.a-cursor-pointer
                        i.fa.fa-bolt.fa-5x
                        h5 !{renderSrc.numOfMem} 명이 등록하였습니다.
                  .col-md-6
                    .main-box.mb-dull(style='margin-right:20px; margin-left:20px')
                      a#active-members
                        i.fa.fa-plug.fa-5x
                        h5 !{renderSrc.numOfActiveMem} 명이 이용 중입니다.
                .row  
                  .col-md-12
                    .main-box.mb-dull(style='margin-right:20px; margin-left:20px')
                      a#reserve-studyroom.a-cursor-pointer
                        i.fa.fa-check-square-o.fa-5x
                        h5 스터디룸 예약
                
                .row
                  .col-md-6
                    .main-box.mb-dull(style='margin-right:20px; margin-left:20px')
                      a#holdoff.a-cursor-pointer
                        i.fa.fa-pause.fa-5x
                        h5 사용보류
                  .col-md-6
                    .main-box.mb-dull(style='margin-right:20px; margin-left:20px')
                      a#history.a-cursor-pointer
                        i.fa.fa-history.fa-5x
                        h5 사용기록
              .col-md-6(style='padding-left:30px; padding-right:30px')
                .row
                  .col-md-12
                    h1.page-head-line 퇴실 필요 회원들 
                .row
                  .col-md-12
                    .scroll-table(style='margin-right:40px; margin-left:40px; height: 40%')
                      .table-responsive-vertical.shadow-z-1
                        //- Table starts here
                        table#table.table.table-hover.table-bordered.table-mc-light-blue.tablesorter
                          thead
                            tr
                              th ID
                              th 좌석번호
                              th 잔여시간 (분)
                              th 
                          tbody#alert-member-table-body
      //- This is for rendering client page
      form#to-client-page(action='/clients/index' method='post')
      #wrapper
        #page-wrapper
          #page-inner
            .row
              .col-md-12
                h1.page-head-line(style='text-align:center') 좌석 현황
                h1.page-subhead-line(style='text-align:center;') 새로고침을 누른 후 좌석이동을 해주세요. <br><br>좌석에 마우스를 올려 놓으면 회원 이름을 확인 할 수 있습니다.
            .row
              .row
                .col-md-3.col-md-offset-1
                  .room-container
                    .booking-details
                      h1.page-subhead-line(style='text-align:center; font-size: 30px') 3층 좌석
                      hr
                      #seat-map-3f
                      hr
                      #legend-3f
                .col-md-3.col-md-offset-4
                  .room-container
                    .booking-details
                      h1.page-subhead-line(style='text-align:center; font-size: 30px') 4층 좌석
                      hr
                      #seat-map-4f
                      hr
                      #legend-4f
              hr
              .row
                .col-md-3.col-md-offset-1
                  .main-box.mb-dull(style='margin-right:20px; margin-left:20px;')
                    a#seat-refresh.a-cursor-pointer
                      h5 새로고침
                .col-md-2
                  input.form-control#oldseat(type='text' placeholder='바꿀 자리')
                .col-md-2
                  input.form-control#newseat(type='text' placeholder='새 자리')
                .col-md-3
                  .main-box.mb-dull(style='margin-right:20px; margin-left:20px;')
                    a#seat-change.a-cursor-pointer
                      h5 좌석 이동
      #wrapper(style='margin-top:12%;height:150px')
        h1.page-subhead-line(style='text-align:center;') 사용 중에 버그가 있거나 건의 사항이 있으면 <br><br>메일 주소 wnrkim@naver.com<br><br>  카카오톡 아이디 wnrkim <br><br>으로 연락주시기 바랍니다.
    //- --------------------------------------------------------------------------------------------------------
    //- SNACKBAR                
    //- --------------------------------------------------------------------------------------------------------
    #snackbar
      | 성공적으로 등록되었습니다.
    #still-use-other-payment-snackbar
      | 아직 다른 요금제를 사용중입니다. 환불 절차를 먼저 거쳐주세요.
    #lack-of-milage-err-snackbar
      | 마일리지가 부족합니다.
    #success-at-using-milage-snackbar
      | 마일리지를 사용하였습니다.
    #phonenum-length-err-snackbar
      | 휴대폰 번호를 정확히 입력해주세요.
    #password-length-err-snackbar
      | 비밀번호가 정확하지 않습니다.
    #already-reigster-err-snackbar
      | 이미 등록된 회원입니다.
    
    script.
      //- Set the width of the side navigation to 250px and the left margin of the page content to 250px 
      function openNav() {
        document.getElementById('mySidenav').style.width = "250px";
        document.getElementById('main').style.marginLeft ="250px";
      }
      //- Set the width of the side navigation to 0 and the left margin of the page content to 0 
      function closeNav() {
        document.getElementById('mySidenav').style.width = '0';
        document.getElementById('main').style.marginLeft = '0';
      }    

            
    //- JQUERY SCRIPTS
    script(src='public/javascripts/temp/jquery-1.10.2.js')
    //- BOOTSTRAP SCRIPTS
    script(src='public/javascripts/temp/bootstrap.js')
    //- METISMENU SCRIPTS
    script(src='public/javascripts/temp/jquery.metisMenu.js')
    //- BOOTSTRAP EONASDAN-BOOTSTRAP-DATEPICKER
    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bower_components/moment/min/moment.min.js')
    script(type='text/javascript', src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    link(rel='stylesheet', href='/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
    //- TABLE SORTER
    //-script(type='text/javascript', src='public/javascripts/temp/jquery-latest.js')
    script(type='text/javascript', src='public/__jquery.tablesorter/jquery.tablesorter.min.js')
    //- TEMPLATE LAYOUT SCRIPTS
    script(type='text/javascript', src='public/javascripts/temp/jquery.seat-charts.min.js')
    //- CUSTOM SCRIPTS
    script(type='text/javascript', src='public/javascripts/previewSeats.js') 
    script.
      $(document).ready(function() {
        /*
          to client page
        */
        $('a#clients_page').click(function(event) {
          $("form#to-client-page").submit();
        });
        
        
        /*
          table sorter
        */
        $('#all-members-table').tablesorter();  
        $('#active-members-table').tablesorter();  
        $('#study1-table').tablesorter();
        $('#study2-table').tablesorter();
        $('#study3-table').tablesorter();
        //- Snackbar Signal
        var register_succ_snackbar  = '!{registerSnack}';
        var recharge_succ           = '!{recharge_succ}';
        var phonenum_length_err     = '!{phonenum_length_err}';
        var password_length_err     = '!{password_length_err}';
        var already_register_err    = '!{already_register_err}';
        //-
        //-  *  this script is for saving token to localStorage.
        //-     And attach the token to subsequent calls.
        //-
        //-  *  [This is not implemented] 
        //-     If there's no tokens from server, jump this part
        //-
        //- form submit action
        $('#registerSubmit').click(function(event) {
          event.preventDefault();
          /* send sex check box data */
          var membername = $('#name').val();
          var password   = $('#Password').val();
          var phonenum   = $('#phone').val();
          var prepare    = $('#prepare').val();
          var memo       = $('#memo').val();
          var sex = $('#sex').is(':checked');
          $.ajax({
            url: '/register',
            method: 'post',
            data: {
              membername: membername,
              password: password,
              phonenum: phonenum,
              prepare: prepare,
              memo: memo,
              sex: sex
            }
          }).done(function(results) {
            console.log(results);
            if (results == "0") {
              alert('등록에 성공했습니다.');
            }
            else if(results == "1") {
              alert("휴대폰 번호를 정확히 입력해주세요.");
            }
            else if(results == "2") {
              alert("휴대폰 번호를 정확히 입력해주세요.");
            }
            else if(results == "3") {
              alert("이미 등록된 회원입니다. ");
            }
            else if(results == "4") {
              alert("이미 등록된 회원입니다.");
            }
            // reset input
            $('#name').val("");
            $('#Password').val("");
            $('#phone').val("");
            $('#prepare').val("");
            $('#memo').val("");
            $('#sex').attr("checked", false);
            $('.switchery')
              .css("box-shadow", "rgb(223, 223, 223) 0px 0px 0px 0px inset")
              .css("border-color", "rgb(223, 223, 223)")
              .css("background-color", "rgb(255, 255, 255)");
            $('.switchery > small').css("left", "0px");
          });
          
        });
        
        

        /* *******************************************************8
          SNACKBAR 
        ***************************************************************/
        function show_snackbar(id) {
          //- Get the snackbar
          var sb = document.getElementById(id);
          //- Add the class
          sb.className = "show";
          //- After 3 seconds, remove the show class from snackbar
          setTimeout(function() {sb.className = sb.className.replace("show", ""); }, 3000);
        }

        if(register_succ_snackbar === "true") {show_snackbar('snackbar'); return false;}
        if(phonenum_length_err === "1") {show_snackbar('phonenum-length-err-snackbar'); return false;}
        if(password_length_err === "1") {show_snackbar('password-length-err-snackbar'); return false;}
        if(recharge_succ === "1") {show_snackbar('snackbar'); return false;}
        if(recharge_succ === "0") {show_snackbar('still-use-other-payment-snackbar'); return false;}
        if(already_register_err === "1"){show_snackbar('already-reigster-err-snackbar'); return false;}
        
        //- END OF SNACKBAR
      
        
      
        /*
          if account page button clicked
        */
        $('a#accountPage').click(function(event) {
          $.ajax({
            url:'/account',
            method: 'post'
          }).done(function(results) {
            $('body').html(results);
          });
        });
        /*
          member's sales window datetimepicker
        */
        $('#sales-payday-datetimepicker').datetimepicker({
          widgetPositioning: {vertical: 'top'},
          defaultDate: moment().format('YYYY-MM-DD'),
          format: 'YYYY-MM-DD'
        });
        $('#sales-payday-datetimepicker').data("DateTimePicker");
        
        /*
          member's usage list datetimepicker
        */
        $('#member-usage-datetimepicker-start').datetimepicker({
          useCurrent: true,
          format: 'YYYY-MM-DD',
          defaultDate: moment().format('YYYY-MM-DD')
        });
        $('#member-usage-datetimepicker-start').data("DateTimePicker");
        $('#member-usage-datetimepicker-end').datetimepicker({
          useCurrent: true,
          format: 'YYYY-MM-DD',
          defaultDate: moment().format('YYYY-MM-DD')
        });
        $('#member-usage-datetimepicker-end').data("DateTimePicker");
        
        $('#member-usage-datetimepicker-start').on('dp.change', function(e) {
          $('#member-usage-datetimepicker-end').data("DateTimePicker").minDate(e.date);
        });
        $('#member-usage-datetimepicker-end').on('dp.change', function(e) {
          $('#member-usage-datetimepicker-start').data("DateTimePicker").maxDate(e.date);
        });
        /*
          member's enter/leave list
        */
        $('#member-enterleave-datetimepicker-start').datetimepicker({
          useCurrent: true
        });
        $('#member-enterleave-datetimepicker-start').data("DateTimePicker");
        $('#member-enterleave-datetimepicker-end').datetimepicker({
          useCurrent: true
        });
        $('#member-enterleave-datetimepicker-end').data("DateTimePicker");
        
        /*
          history
        */
        $('#history').click(function(event) {
          
          $.ajax({
            url: '/system/history',
            method: 'post'
          }).done(function(results) {
            for (var i = 0; i < results.length; i++) {
              var obj = results[i];
              $('#history-table-body').append(
                '<tr name="history-'+i+'">'+
                ' <td data-title="ID">'+ obj['DATE_FORMAT(ts, "%Y-%m-%d %H:%i")'] +'</td>' +
                ' <td data-title="alias">'+ obj.alias +'</td>' +
                ' <td data-title="membername">'+ obj.membername +'</td>' +
                ' <td data-title="seatnum">'+ obj.seatnum +'</td>' +
                ' <td data-title="do">'+ obj.do +'</td>' +
                '</tr>'
              );
              if (obj.job == 0) {
                $('tr[name="history-'+i+'"]').css('background-color', '#baffc9');
              }
              else if(obj.job == 1) {
                $('tr[name="history-'+i+'"]').css('background-color', '#ffffba');
              }
              else if(obj.job == 2) {
                $('tr[name="history-'+i+'"]').css('background-color', '#bae1ff');
              }
              else if(obj.job == 3) {
                $('tr[name="history-'+i+'"]').css('background-color', '#ffb3ba');
              }
            }
            $('#history-modal').css("display", "block");
          });
        });
        
        
        
        
        /*
          Holdoff
        */
        $('a#holdoff').click(function(event) {
          $('#holdoff-modal').css("display", "block");
        });
        $('#holdoff-submit').click(function(event) {
          event.preventDefault();
          
          /*
            before getting data erase the old content
          */
          var container = document.getElementById('holdoff-result');
          while(container.firstChild) {
            container.removeChild(container.firstChild);
          }
          /* do next job */
          var alias = $('#holdoff-name').val();
          
          if (alias === "") {
            alert('ID를 입력해주세요.');
            return false;
          }
          
          $.ajax({
            url: '/system/holdoff',
            method: 'post',
            data: {alias: alias}
          }).done(function(results) {
            var json = JSON.parse(results);
            console.log(json);
            
            var holdoff;
            if (json.stop == 0) {
              holdoff = "정상 진행중";
            }
            else if(json.stop == 1) {
              holdoff = "보류 상태";
            }
            $('#holdoff-hidden-container').css('display', 'block');
            $('#holdoff-result').append(
              '<h4> 이름: '+json.membername+'</h4><br>' + 
              '<h4> 이용 요금제: '+json.payment+'</h4><br>' +
              '<h4> 잔여 일: '+ json.leftDay +' 일</h4><br>' +
              '<h4> 잔여 마일리지: '+json.milage+' 포인트</h4><br>' +
              '<h4> 보류 여부: '+ holdoff +'</h4><br>' +
              '<input type="hidden" name="holdoff-id" value="'+ json.id +'">' + 
              '<input type="hidden" name="holdoff-stop" value="'+ json.stop +'">'
            );
          });
        });
        $('a#holdoff-determine').click(function(event) {
          var id    = $('input[name="holdoff-id"]').val();
          var stop  = $('input[name="holdoff-stop"]').val(); 
          $.ajax({
            url: '/system/holdoff-determine',
            method: 'post',
            data: {
              id: id,
              stop: stop
            }
          }).done(function(result) {
            if (result == "1") { /* re-running */
              alert("이제 보류합니다.");
            }
            else if(result == "0") {
              alert("이제 재시작합니다.");
            }
          });
        });
        
        /*
          Datepicker Display - studyroom list
        */
        $('#studyroom-datetimepickerMin').datetimepicker({format: 'YYYY-MM-DD'});
        $('#studyroom-datetimepickerMax').datetimepicker({
          useCurrent: false, //Important! See issue #1075
          format: 'YYYY-MM-DD'
        });
        $("#studyroom-datetimepickerMin").on("dp.change", function (e) {
          $('#studyroom-datetimepickerMax').data("DateTimePicker").minDate(e.date);
        });
        $("#studyroom-datetimepickerMax").on("dp.change", function (e) {
          $('#studyroom-datetimepickerMin').data("DateTimePicker").maxDate(e.date);
        });
        
        $('#studyroom-datetimepickerMin-cancel').datetimepicker({format: 'YYYY-MM-DD'});
        $('#studyroom-datetimepickerMax-cancel').datetimepicker({
          useCurrent: false, //Important! See issue #1075
          format: 'YYYY-MM-DD'
        });
        $("#studyroom-datetimepickerMin-cancel").on("dp.change", function (e) {
          $('#studyroom-datetimepickerMax-cancel').data("DateTimePicker").minDate(e.date);
        });
        $("#studyroom-datetimepickerMax-cancel").on("dp.change", function (e) {
          $('#studyroom-datetimepickerMin-cancel').data("DateTimePicker").maxDate(e.date);
        });
        
        /*
          If admin clicked btn which reserve studyroom between two dates
        */
        
        //-
        //- Periodically request to server to check whether there is users who almost spend their time
        //-
        setInterval(periodicRequest, 15* 60 * 1000);
        /*
          Periodically check paused members
        */
        setInterval(pauseTableChk, 10 * 60 * 1000);
      });
      function product_finder() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("products-filter");
        filter = input.value.toUpperCase();
        table = document.getElementById("product-table");
        tr = table.getElementsByTagName("tr");
        
        /*
          Loop through all table rows, and hide those who don't match the search query
        */
        for (var i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0]; // filter with name
          if (td) {
            if(td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            }
            else {
              tr[i].style.display = "none";
            }
          }
        }
      }
      /*
        all-members-table finder with name
      */ 
      function all_members_finder() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("all-members-filter");
        filter = input.value.toUpperCase();
        table = document.getElementById("all-members-table");
        tr = table.getElementsByTagName("tr");
        
        /*
          Loop through all table rows, and hide those who don't match the search query
        */
        for (var i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1]; // filter with name
          if (td) {
            if(td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            }
            else {
              tr[i].style.display = "none";
            }
          }
        }
      }
      function all_members_finder_alias() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("all-members-filter-withalias");
        filter = input.value.toUpperCase();
        table = document.getElementById("all-members-table");
        tr = table.getElementsByTagName("tr");
        
        /*
          Loop through all table rows, and hide those who don't match the search query
        */
        for (var i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0]; // filter with alias
          if (td) {
            if(td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            }
            else {
              tr[i].style.display = "none";
            }
          }
        }
      }
      /*
        active-members-table finder with name
      */ 
      function active_members_finder() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("active-members-filter");
        filter = input.value.toUpperCase();
        table = document.getElementById("active-members-table");
        tr = table.getElementsByTagName("tr");
        
        /*
          Loop through all table rows, and hide those who don't match the search query
        */
        for (var i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1]; // filter with name
          if (td) {
            if(td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            }
            else {
              tr[i].style.display = "none";
            }
          }
        }
      }
      
      /*
        history finder
      */
      function history_finder() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("history-filter");
        filter = input.value.toUpperCase();
        table = document.getElementById("history-table");
        tr = table.getElementsByTagName("tr");
        
        for (var i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[2]; // filter with name
          if (td) {
            if(td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            }
            else {
              tr[i].style.display = "none";
            }
          }
        }
      }
      
      function pauseTableChk() {
        console.log('pauseTC');
        $.ajax({
          url: '/clients/pausechk',
          method: 'post'
        });
      }
      function periodicRequest() {
        $.ajax({
          url: '/clients/scheduler',
          method: 'post',
          data: {reqeust: '1'}
        }).done(function(results) {
          var json = JSON.parse(results);
          console.log(json);
          
          var alert_member_table_body = document.getElementById('alert-member-table-body');
          while (alert_member_table_body.firstChild) {
            alert_member_table_body.removeChild(alert_member_table_body.firstChild);
          }
          /* 
            If there's no element in the table, just add all of them 
          */
          //- if ($('#alert-member-table-body').children().children('td[data-title="ID"]').length === 0) { 
            for (var i = 0; i < json.length; i++) {
              var t = min2MH(parseInt(json[i].left));
              $('#alert-member-table-body').append(
                '<tr>'+
                ' <td data-title="ID">'+ json[i].alias +'</td>' +
                ' <td data-title="seatNum">'+ json[i].seatnum +'</td>' +
                ' <td data-title="timeLeft">'+ t +"("+json[i].fee+' 원)</td>' +
                ' <td date-title="delete"><a class="delete-row">[삭제하기]</a></td>' +
                '</tr>'
              );
              $('.delete-row').click(function() {
                $(this).parent().parent('tr').remove();
              });
            }
        });
      }
      function min2MH(minutes) {
        var h, m;
        if (minutes >= 0) {
          h = minutes / 60; h = h.toString();
          m = minutes % 60; m = m.toString();
        }
        else {
          minutes *= -1;
          h = minutes / 60; h = h.toString();
          m = minutes % 60; m = m.toString();
        }
        return (h + " 시간 " + m + " 분");
      }
      function sellProduct(name, id) {
        $.ajax({
          url: 'members/sell',
          method: 'post',
          data: {
            membername: name,
            alias: id
          }
        }).done(function(results) {
          
        });
      }
      
      function listMemberUsage(name, id) {
        $.ajax({
          url: 'members/usagelist',
          method: 'post',
          data: {
            membername: name,
            alias: id
          }
        }).done(function(results) {
          
        });
      }
    script(type='text/javascript', src='public/javascripts/studyroom.js')
    script(type='text/javascript', src='public/javascripts/payment.js')
    script(type='text/javascript', src='public/javascripts/active_members.js')
    script(type='text/javascript', src='public/javascripts/all_members.js')
    script(type='text/javascript', src='public/javascripts/payback.js')
    script(type='text/javascript', src='public/javascripts/useNchargeMilage.js')
    script(type='text/javascript', src='public/javascripts/accountRelated.js')
    script(type='text/javascript', src='public/javascripts/userUsageList.js')
    script(type='text/javascript', src='public/javascripts/closeWin.js')  
    script(type='text/javascript', src='public/javascripts/login.js')
